<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CM2040 Template</title>
  </head>
  <body>
    <h1>Create account</h1>
    <form action="/user/create-user-record" method="post">
      <label for="">Username</label>
      <input type="text" name="username" placeholder="Username" required />
      <br />
      <br />
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Email" required />
      <br />
      <br />
      <label for="">Password</label>
      <input type="password" name="password" placeholder="Password" required />
      <br />
      <br />
      <button type="submit">Create a new user record</button>
    </form>
  </body>
</html>
