<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CM2040 Template</title>
  </head>
  <body>
    <h1>New microblogging platform</h1>

    <h2>Login</h2>
    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <br />
      <button type="submit">Login</button>
    </form>

    <h2>Create Account</h2>
    <a href="/createaccount" type="submit">Create Account</a>
    <br>
    <a href="/mypage" type="submit">My page</a>
    <h1>Articles</h1>

  </body>
</html>
